.navigation-container{
  justify-content: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  margin: 25px;
  margin-bottom: 75px;
}

.blog-post {
  position: relative;
  background:
      linear-gradient(135deg, rgba(124, 113, 113, 0.65) 0%, rgba(200,200,255,0.45) 100%);
    background-blend-mode: lighten, normal;
    backdrop-filter: blur(18px) saturate(1.2);
  border-radius: 5px;
  box-shadow: var(--box-shadow-1);
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.blog-post:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.blog-post:hover img {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.blog-text {
  margin-top: -7px;
  padding: 1.1rem;
}

.blog-text .attributes {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
}

.blog-text .attributes p {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 25px;
  }
}
