.box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 10rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.qualification-card {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  min-width: 0;
  min-height: 0;
}

.card{
    height: 70%;
}

h2{
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .box-container {
        grid-template-columns: 1fr;
        padding: 0;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        gap: 0rem;;
    }
    
    .qualification-card {
        margin-bottom: 0rem;
        justify-content: normal;
        aspect-ratio: 1 / .5;
        width: 90vw;
        max-width: 100vw;
    }

    .card {
        width: 95vw;
        max-width: 100vw;
        padding-left: 0rem;
        padding-top: 10px;
        box-sizing: border-box;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 5px;
    }
}
